doctype
html
    head
        title="GPS PROJECT"
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        meta(name="viewport" content="width=device-width")
    body
        div(id="app")
        script(src="bundle.js", type="text/javascript")
