doctype
html
    head
        title="this is a redux app"
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    body
        div(id="app")

        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
        script(src="bundle.js", type="text/javascript")
