doctype
html
    head
        title="this is a redux app"
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    body
        div(id="app")
        script(src="bundle.js", type="text/javascript")
