.mybg {
    background: linear-gradient(139deg, rgb(0,188,212), rgb(26, 219, 193), #B00970, #BF7622);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 17s ease infinite;
    -moz-animation: AnimationName 17s ease infinite;
    animation: AnimationName 17s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}
@keyframes AnimationName { 
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}

.mybg2 {
    background: linear-gradient(139deg, rgba(0, 191, 212, 0.80),
         rgba(26, 219, 190, 0.99),
         rgba(176, 9, 115, 0.70), 
         rgba(191, 118, 34, 0.99));
    background-size: 800% 800%;

    -webkit-animation: AnimationName 17s ease infinite;
    -moz-animation: AnimationName 17s ease infinite;
    animation: AnimationName 17s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}
@keyframes AnimationName { 
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}

.gpsbanner {
    font-family: 'Tahoma', regular;
    font-size: -webkit-xxx-large;
    text-align: center;
    color: #10cfc8;
    margin: 15px 0px 10px 0px;
}

.regttext {
    color: #10cfc8;
    font-size: 25px;
    font-family: 'Fugaz One', cursive;
}

.titletext {
    font-family: 'Fugaz One', cursive;
}

.logo {
    margin-top: 25px;
}