.mybg {
    background: linear-gradient(139deg, rgb(0,188,212), rgb(26, 219, 193), #B00970, #BF7622);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 17s ease infinite;
    -moz-animation: AnimationName 17s ease infinite;
    animation: AnimationName 17s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}
@keyframes AnimationName { 
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}

.gpsbanner {
    font-family: 'Fugaz One', cursive;
    font-size: -webkit-xxx-large;
    text-align: center;
    color: #B00970;
    margin: 100px 0px 20px 0px;
    text-shadow: 2px 1px 1px #9a5a14;
}

.regttext {
    color: rgb(0,188,212);
    font-size: 25px;
    font-family: 'Fugaz One', cursive;
}