:local(.axis) path {
  display: none;
}

:local(.axis) line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

 :local(.chartSvg) {
  border-style: solid;
  border-radius: 4px;
  border-width: 1px 10px 1px 10px;
  border-color: rgb(0, 188, 212);
  background-color: #fff;
} 

:local(.view) {
 opacity: 0
}

.tick {
  opacity: 0.6;
}

.tick text{
  fill: darkslategray;
}

:local(.dot) {
  color: orangered
}

#resetBtn {
   position: relative;
    top: 40px;
    left: 1100px;
    opacity: .6;
}

:local(.timeSeriesContainer) {
  background-color: slategray;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}