#container {
    display: flex;
	align-items: center;
	justify-content: center;
	height:100vh
}

#card {
	align-items:center;
	width:400px;
	background: white;
}

#card .segment {
	width:100%
}

#card .segment .button {
	width:100%
}

p {
	text-align:center;
	color:gray;
}

.segment em, .segment em .item {
	float: right
}

body {
	background-color: gray;
	overflow: hidden;
	margin: 0px
}

/*
 *  scrollbar
 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 3px solid white;
  background: #E0E0E0;
  background-clip: content-box;
}
::-webkit-scrollbar-corner {
  background: white;
}

::-webkit-scrollbar-thumb:vertical:active {
	background: rgb(0, 188, 212);
}
::-webkit-scrollbar-thumb:horizontal:active {
	background: rgb(0, 188, 212);
}

#icn {
	width: 10px;
    height: 10px;
    background: #009688;
	opacity: 0.8;
	padding: 20px;
	transition: all .2s ease-in-out;
	border-radius:50%;
    background-clip:content-box;
}

#icn:hover {
	width: 10px;
    height: 10px;
    background: #009688;
	transform: scale(2);
	transition: all 200ms ease-in;
}

.viewing {
	background-color: cadetblue;
    color: white;
	z-index: 999999
}

/* css to customize Leaflet default styles  */
.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    background-color : transparent;
	box-shadow: 0 0px 14px rgba(0,0,0,0.0);
}
.leaflet-popup-content {
	width:auto !important;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid white;

}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#previewTimeseries {
    width: 100%;
    height: auto;
}