#container {
    display: flex;
	align-items: center;
	justify-content: center;
	height:100vh
}

#card {
	align-items:center;
	width:400px;
	background: white;
}

#card .segment {
	width:100%
}

#card .segment .button {
	width:100%
}

p {
	text-align:center;
	color:gray;
}

.segment em, .segment em .item {
	float: right
}

body {
	background-color: dimgrey
}