.axis path {
  display: none;
}

.axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

.view {
  fill: white
}

button {
  position: absolute;
  top: 20px;
  left: 190px;
}

.dot {
  color: orangered
}
