.axis path {
  display: none;
}

.axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

svg {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: cadetblue
}

.view {
  fill: white;
}

.tick {
  opacity: 0.6;
}

.tick text{
  fill: darkslategray;
}

button {
  position: absolute;
  top: 20px;
  left: 190px;
}

.dot {
  color: orangered
}
